.fundo{
    background-color: #000000;
    height: 250px;
    
}


/* Estilo para os espaços reservados dos filmes da trilogia */
.trilogy-movies {
    display: none; /* Inicialmente, os filmes estão ocultos */
    flex-wrap: wrap;
    margin-top: -25.05%;
    margin-left: 32%;
    margin-right: 20%;
    margin-bottom: 5%;
    padding-bottom: 2.9%;
    background-color:#9f00f4 ;
    position: absolute;
    border-radius: 5px;
}


.trilogy-movies div {
    flex: 1;
    text-align: center;
    padding-top: 40px;
}

/*Filmes img*/
.trilogy-movies img {
    width: 50%;
    height: 70%;
    border-radius: 5px;
    transition: transform 0.3s;
   
}
/*capa da trilogia quando clicada*/
.movie-trilogia img {
display: block;
margin: 20px;
 margin-top: -25px;
 border-radius: 3px;
width: 80%; 
height: 250px;          
}

.trilogy-movies h3 {
    font-size: 20px;
    color: #ffffff;
}

/* Estilo para os botões de marcação como assistido */
.trilogy-movies button {
    border-radius: 5px;
    background-color: #ffffff;
    border: none;
    color: #9f00f4;
    padding: 6px 9px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    
}


body{
    background-color: #fff9ac; 
}

/* Botão Subir Topo */
#myBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #9f00f4;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
  }
  
#myBtn:hover {
    background-color: #9f00f48b;
  }

header {
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    background-color: #9f00f4;
}

header h1 {
     margin: 0;
}

 nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;      
}

 nav ul li {
    display: inline;
    margin-right: 10px;
 }

nav ul li a {
    text-decoration: none;
    color: #ffffff;
 }


h1{
    text-align: center;
}

/*barra de pesquisa*/
#Pesquisar{
    padding: 5px;
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 5px;
}

/*Botão desmarcar*/
#desmarcarTodosButton{
    text-align: left;
    margin-left: 20.3%;
    margin-bottom:30px;
    margin-top: 30px;
}

.movie {
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: flex-start; /* Alinhar o conteúdo verticalmente ao topo */
}
        
/* Alinhar e centralizar*/
.movie > div {
    width: 170px; /* Largura fixa para todas as divs dos filmes */
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinhar o conteúdo verticalmente ao centro */
}
        /*capa*/
.movie img {
    display: block;
    margin: 0 auto;
    border-radius: 3px;
    width: 100%; /* Tamanho fixo para todas as imagens */
    height: 250px; /* Altura fixa para todas as imagens */
    transition: transform 0.3s; /*transição*/
}

/* trasição de zoom */
.movie img:hover {
    transform: scale(1.1); 
}
        
        /*títulos do filme */
.movie h3 {
    margin-top: 10px;
    color: #9f00f4;
    font-size: 20px;
    height: 10px; /* Altura fixa para todos os títulos */
}
        
.movie h2 {
    margin-top: 10px;
    color: #9f00f4;
    font-size: 14.4px;
    height: 40px; /* Altura fixa para todos os títulos */
}
        
       
.movie button {
    border-radius: 5px;
    background-color: #9f00f4;
    border: none;
    color: white;
    padding: 6px 9px;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 30px; /* Empurra o botão para a parte inferior da div */
}
        